<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.schoolhelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.capstone.schoolhelper.ProfileCreatorFrag"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.capstone.schoolhelper.AddClassFrag" />
        <activity android:name="com.capstone.schoolhelper.AddEventFrag" />
        <activity android:name="com.capstone.schoolhelper.CalendarFrag" />
        <activity android:name="com.capstone.schoolhelper.ClassesMenuFrag" />
        <activity android:name="com.capstone.schoolhelper.ClassMenuFrag" />
        <activity android:name="com.capstone.schoolhelper.EventFrag" />
        <activity android:name="com.capstone.schoolhelper.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.capstone.schoolhelper.SettingsFrag" />
    </application>

</manifest>